{% extends "layout.njk" %}

{% block content %}
<main class="container">
    <h1>{{ message }}</h1>
    <a href="{{ github }}" target="_blank">
        <img src="/images/pexels-simon73-1323550.jpg" alt="bild"></img>
    </a>

</main>
{% endblock %}